# Dataset
train/

# Virtual environments
venv/
crop_env/

# Python cache
__pycache__/
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac files
.DS_Store

# Model weights
*.pth

# Images
*.jpg
*.png

# Results
results_attunet/
results_deeplab/
results_fpn/
results_pspnet/
results_unet/
results_unetpp/
